<div class="card-row">
  <ul class="list-group list-group-flush">
    <li class="list-group-item feature">
      <div>
        <button (click)="toggleMenu()" class="fst-normal">
          <i
            class="bi bi-chevron-compact-down fst-normal"
            *ngIf="showToDoList"
          ></i>
          <i
            class="bi bi-chevron-compact-up fst-normal"
            *ngIf="!showToDoList"
          ></i>
          {{ row.featureName }}
          <span class="badge bg-secondary" *ngIf="!row.canDelete"
            >Must-have tool</span
          >
        </button>
      </div>
      <div>
        <button><i class="bi bi-pencil-square" (click)="onEdit()"></i></button>
        <span
          class="d-inline-block"
          tabindex="0"
          data-toggle="popover"
          data-trigger="hover focus"
          [attr.data-title]="popoverTitle"
          [attr.data-content]="popoverContent"
          data-container="body"
          data-bs-custom-class="custom-popover"
        >
          <button
          class="btn" type="button" disabled *ngIf="!row.canDelete">
            Delete?
          </button>
        </span>
        <button>
          <i class="bi bi-trash" *ngIf="row.canDelete" (click)="onDelete()"></i>
        </button>
      </div>
    </li>
    <ng-container *ngIf="row.toDoList && showToDoList">
      <ul class="list-group todo">
        <li *ngFor="let toDoList of row.toDoList">{{ toDoList }}</li>
      </ul>
    </ng-container>
  </ul>
</div>
