@import '../../variables.scss';

button {
  border: none;
  background-color: $primary-color;
  font-weight: $font-bold;
}
li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;
  margin: $spacing-bs;
}

ul.todo {
  font-size: $font-small;
  margin-left: $spacing-side;
}
.todo li {
  margin: $spacing-li;
}
