$primary-color: white;
$secondary-color: grey;

$font-family: "Exo", sans-serif;
$font-bold: bold;
$font-small: small;

$borders: 2px solid $secondary-color;

$spacing-side: 40px;
$spacing-bs: 10px;
$spacing-li: 1px 0 1px 0;
$spacing-card: 50px 50px 0 50px;

