.card-header {
  display: inline-flex;
  justify-content: space-between;
  border: none;
}
button {
  border: none;
  background-color: white;
  font-weight: bold;
}
.card {
  padding: 50px 50px 0 50px;
}
